@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --navbar-height: 64px; /* Default, updated dynamically */
  }
  
  .main-content {
    padding-top: var(--navbar-height);
    
  }

  /* Scrollbar styling */
.category-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

.category-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000; /* Tailwind blue-500 */
  border-radius: 10px;
}

.category-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb; /* Tailwind gray-200 */
}

  
body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}


.app-bg-green{
    background-color: #006C54;
}
.app-text-green{
    color: #006C54;
}